<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,800,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>

  <title>A Blog Writen in Python and Using GQL(Google App Engine)</title>
</head>

<body>
	<a href="/blog" class="main-title">
		A Blog Writen <span class="lower">in</span> Python <span class="lower">and</span> Using GQL(Google App Engine) 
	</a>

  <div id="text">
  {% block text %}
  {% endblock %}
  </div>
</body>

</html>

